* {
  text-decoration: none;
}

#section2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Nem fix magasság, hanem minimum 100vh */
  height: auto; /* Növekedhet a tartalommal együtt */
  /*background: radial-gradient(
    circle,
    #d1b0d0,
    #c1a1b1,
    #9e8192,
    #8a6875,
    #7d5a6c,
    #6e4c59
  );
  background-size: 400% 400%;
  animation: waveBackground 15s ease-in-out infinite;*/
}

@keyframes waveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#line {
  margin: 1em auto;
  width: 30%;
  padding: 0.1em;
  height: 13px;
  background: linear-gradient(
    to right,
    #f8d7e3,
    /* Világos pasztell rózsaszín */ #f4b6cf,
    /* Lágy rózsaszín */ #eaa0bc,
    /* Közepes pasztell pink */ #d3a3d6,
    /* Halvány levendula */ #d392d9,
    /* Pasztell lila */ #9f7fc7,
    /* Mélyebb lila tónus */ #866bb5 /* Finom, tompább pasztell lila */
  );

  background-size: 400% 400%;
  animation: waveBackground 5s ease-in-out infinite;
  text-align: center;
  border-radius: 7em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-line {
  position: absolute;
  height: 70%;
  width: 2px;
  background-color: #373737;
  top: 10%;
  left: 1%;
}

.title {
  top: 0;
}
.title * {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: break-all;
}
#exp-title {
  font-size: 2.5em;
  font-weight: 450;
  color: #bc3373;
  top: 0.3em;
  align-self: center;
}
#cv {
  padding: 0.7em;
  border-radius: 1em;
  width: 13%;
  font-size: 1em;
  font-family: "JetBrains Mono", serif;
  background-color: #000000;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  margin: 0.5em;
  width: auto;
}

#cv span {
  color: rgb(255, 255, 255);
  display: inline-block;

  transition: transform 0.4s ease-in-out, opacity 0.5s ease-in-out;
}

#cv:hover span {
  transform: translateX(-100%);
  opacity: 0;
}
#cv:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  background-color: #ffffff;
}

#cv::after {
  content: "\2B73";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  color: rgb(158, 58, 119);
  font-weight: bold;
  font-size: 1.5em;
}

#cv:hover::after {
  opacity: 1;
}
#exp-content,
.timelines {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}

.timeline {
  position: relative;
  margin: 0.5em 0;
  width: 95%; /* Take up most of the width on smaller screens */
  padding: 0.5em 0.3em;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7),
    inset -3px -3px 5px rgba(255, 255, 255, 0.05),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.timeline:hover {
  transform: scale(1.02);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.9),
    inset -3px -3px 7px rgba(255, 255, 255, 0.1),
    inset 3px 3px 7px rgba(0, 0, 0, 0.6);
}
#first-timeline {
  background-color: #8f788d;
}
#second-timeline {
  background-color: #bd99a2;
}

.timeline-item {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 2em;
}

.timeline-content:first-child {
  margin-top: 1%;
}

.date {
  font-size: 1.5em;
  color: #292828;
}

#cv:hover {
  transform: scale(1.1);
}
#all-exp {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Két egyenlő oszlop */
  gap: 2em; /* Távolság a két oszlop között */
  align-items: start;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.timeline-container {
  grid-column: 1 / 2; /* Bal oldal */
  justify-self: start;
  width: 100%;
}

.about-container {
  grid-column: 2 / 3; /* Jobb oldal */
  justify-self: start;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .timeline {
    padding: 0.1em;
    width: 95%;
    font-size: 0.9em;
  }
  .timeline::before {
    left: 0.1em;
    transform: none;
  }
  .timeline-content h3 {
    font-size: 1.2em; /* Kisebb cím */
  }
  .date {
    font-size: 1em; /* Kisebb dátum */
  }

  .timeline-item {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
  }

  .timeline-dot {
    left: 0.9em;
    transform: translateX(0);
  }

  .timeline-content {
    width: 100%;
  }
  #all-exp {
    display: flex;
    flex-direction: column;
  }
}
