@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url(about_style.css);
body {
  background-color: black;
  color: white;
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  overflow-x: hidden;
  margin: 0;
  overflow-y: auto;
  background: linear-gradient(270deg, #191919, #141113);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

/* Amikor egy section látható lesz */
.section.active {
  opacity: 1;
}

/* Az első section (home) balról beúszik betöltéskor */
#home {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Lágy halványodás */
}

/* Amikor az oldal betöltődik, a home megjelenik */
#home.show {
  opacity: 1;
}

/* Amikor a home kikerül a nézetből, elhalványul */
#home.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
/* Az első szekció (home) kezdetben láthatatlan */

/*@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}*/

nav {
  top: 0;
  display: flex;
  width: 100%;

  align-items: center;
  z-index: 1000;

  height: 3em; /* Beállított magasság */
  padding: 0.5em;
  overflow: hidden;
}

nav ul {
  display: flex;
  list-style-type: none;
  flex: auto;
  justify-content: space-evenly;
  background-image: linear-gradient(45deg, #417de1, #c0a9e2, #ffa4d8);
  border-radius: 2em;
  padding: 0.7em;
  width: clamp(180px, 65%, 900px);
  font-size: clamp(0.7rem, 1.8vw, 1.1rem);
  /*A clamp() függvény három paramétert vesz fel:
  - Az első paraméter (0.7rem) a minimális érték, amit a font-size felvehet.
  - A második paraméter (1.8vw) a preferált érték, amit a font-size felvehet a viewport szélessége alapján.
  - A harmadik paraméter (1.1rem) a maximális érték, amit a font-size felvehet.
*/
  margin: 0 1.3em;
}
#logo {
  width: clamp(5%, 10vw, 10%);
  height: auto;

  margin-top: 0.5em;
}

ul li button {
  /*
    Ez a kódrészlet azért jött létre, hogy a betűméret a szélességhez mérten nőjön 
    és csökkenjen.
    A clamp függvény segítségével a betűméret minimum 0.8rem,
     maximum 1.5rem lehet, és a szélesség 2%-ához igazodik.
*/
  font-size: clamp(0.6rem, 1.6vw, 1.2rem);
  text-align: center;
  margin-right: 1em;
  background: transparent;
  transition: transform 0.3s ease;
  border-radius: 10px;
  border-color: transparent;
  font-family: "JetBrains Mono", serif;
  font-weight: regular 400;
}
button img {
  width: 1.5em;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

button#linkedin,
button#github {
  padding: 0;
  margin: 0 0.5em;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button#linkedin img,
button#github img {
  width: clamp(18px, 1.8vw, 28px);
  height: auto;
  transition: width 0.3s ease;
}

button.info:hover {
  transform: translateY(-1.5px) scale(1.1);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  font-weight: bold;
  color: #4f0d4f;
}
:is(#linkedin, #github):hover {
  transform: translateY(-1.5px) scale(1.1);
}

@keyframes color-change {
  /*Ennek köszönhetően váltakozni fog a színe a szövegnek*/
  0% {
    color: #417de1;
  }
  20% {
    color: #c0a9e2;
  }
  40% {
    color: #ffa4d8;
  }
  60% {
    color: #c466c4c3;
  }
  80% {
    color: #ffffff;
  }
  90% {
    color: #c0a9e2;
  }
  100% {
    color: #417de1;
  }
  /*Azért van ilyen sok színváltás, 
  mert különben hirtelen váltana vissza kékre, az meg csúnya*/
}

.header-container {
  grid-template-areas:
    "A B"
    "C D";
  grid-template-columns: 1fr 1.1fr;
  grid-template-rows: auto auto;
  display: grid;
  margin: 0.5em;
}
.header {
  grid-area: A;
  position: relative;
  flex-direction: column;
  margin-left: 1.7em;
  animation: color-change 10s infinite;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: normal;
  margin-top: 2em;
}

.me {
  row-gap: 1em;
  grid-area: B;
  width: 100%;
  margin-top: 5.3em;

  height: auto;
  justify-self: end;
  position: relative;
  left: 10px;
  right: 15px;
}
.header h1 {
  font-size: clamp(4.5rem, 2.5vw, 2rem);
}
.header h3 {
  margin-left: 1em;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

#quote,
#writer {
  grid-area: C;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-family: "Red Hat Display", serif;
  font-weight: lighter;
}
#quote {
  font-size: 1.1em;
  margin-top: 2.5em;
}
#write {
  right: 100px;
}
/* Menü ikon (hamburger) */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  margin-right: 1em;
}
#more {
  margin-top: 3.5em;
  margin-left: 2em;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #744ab2;
  font-weight: bold;
}
#more::before {
  content: "\21E3";
  font-size: 2em;
  color: white;
}
#more:hover::before {
  color: #141113; /* Change arrow color on hover */
}
#more:hover {
  transform: translateY(-1.5px) scale(1.1);
  color: #141113;
}

/* Rejtett menü kisebb képernyőn */
@media screen and (width<767px) {
  .me {
    display: none;
  }
  #logo {
    top: 10px;
    margin: auto;
    display: block;
  }
  .header-container {
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .header {
    margin-top: 0;
    margin-left: 1em;
    font-size: 1.5em;
  }
  #quote,
  #writer {
    margin-top: 3em;
    grid-area: D;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #417de1;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1em 0;
    border-radius: 0 0 1em 1em;
  }

  .nav-links.show {
    display: flex; /* Megjelenítés kattintásra */
  }

  .menu-icon {
    display: block; /* Menü ikon megjelenítése */
  }
}

#about div h1 {
  font-size: clamp(4em, 2.5vw, 2rem);
}
#about div h1 > span {
  font-size: clamp(2rem, 2.5vw, 1rem);
}
